:host{
    margin: 20px;
    width: 200px;
    text-align: center;
}
img{
    image-rendering: pixelated;
}
.mat-raised-button{
    width:100%;
}
.mat-dialog-container{
    overflow:hidden;
}
mat-card-title{
    font-size: 18px;
}
mat-card-content{
    margin-top: 20px;
}