<mat-toolbar>
  <span>{{title}}</span>
  <input (input) = "handleSearch()" matInput placeholder="Search..." [(ngModel)] = "searchValue" >
</mat-toolbar>
<mat-paginator 
    [pageIndex] = 'pageIndex' 
    length = {{totalPages}} 
    (page)="page($event)" 
    [pageSizeOptions] = "[10, 20, 50, 100]" 
    [pageSize] = 'pageSize'
>
</mat-paginator>
<div class='center'>
  <mat-form-field  appearance="fill">
    <mat-label>Filter by type</mat-label>
    <mat-select (selectionChange) = 'typeOnChange()' [(value)]="type">
      <mat-option value = 'none'>None</mat-option>
      <mat-option *ngFor = 'let type of types' [value]="type.name">{{type.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>


<div class="container">
  
  <app-pokemon *ngFor = 'let pokemon of result' [info] = "pokemon"> </app-pokemon>
  
</div>
